# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
web/

# add
.trae/
deploy.ps1
.github/
doc/
# 忽略所有 .md 文件
*.md
*.txt
.ps1

# 但是不忽略 README.md
!README.md